body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  height: 800vh;
}

.hero {
  height: 60vh;
  border: none;
  background-color: #745e96;
  margin: auto;
}
h1 {
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  font-size: 3rem;
  margin: 0;
  padding-top: 10px;
}
.hero-form {
  padding-left: 30%;
  padding-top: 20px;
}

.hero-input {
  border-radius: 50px;
  width: 500px;
  height: 40px;
  border: none;
  position: relative;
  padding-left: 1.5rem;

  color: gray;
}

svg {
  position: absolute;
  right: 33%;
  margin-top: 10px;
  cursor: pointer;
}

.section {
  position: relative;
  margin-top: 50px;
}

.section .icon-left,
.section .icon-right {
  position: absolute;
  border: none;
  border-radius: 50%;
  background-color: #ff722d;
}

.section .icon-left {
  left: 20px;
  top: 80px;
  transform: rotate(-90deg);
}

.section .icon-right {
  right: 20px;
  transform: rotate(90deg);
  top: 80px;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-text {
  text-align: center;
  padding: 10px;
}

.image-fluid {
  cursor: pointer;
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.icons {
  line-height: 1;
}

.fa-solid {
  font-size: 10px;
  color: #e87769;
}

.image-span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  line-height: 2;
}

.image-content {
  font-size: 15px;
  font-weight: 600;
}

section {
  margin-top: 22%;
  margin-left: 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card {
  width: 350px;
  height: 740px;
  border: 1px solid #f8f7f7;
  border-radius: 5px;
  position: relative;
}
.card-header {
  padding-left: 10px;
}
.svg {
  position: absolute;
  top: 21%;
  right: 50px;
}

.card-contents {
  display: flex;
  align-items: center;
}

.card-contents p,
.wider-content-p {
  font-size: 0.8rem;
}

.card-contents h2,
.wider-content {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
  color: #8f8f8f;
}
.content-text {
  line-height: 0.5;
}
.card-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0.8rem;
}

.card__content-boder {
  width: 350px;
  background-color: #745e96;
  color: #fff;
  padding-top: 2px;
  padding-bottom: 1rem;
}

.card__content-boder > h3 {
  font-size: 1rem;
}
.card__content-boder > h3,
.card__content-boder p,
.h3 {
  margin-left: 1rem;
}
.h3 {
  margin-top: 30px;
  color: #66696a;
}

.card__content-boder p {
  font-size: 10px;
  font-weight: 300;
}
.cards__ {
  width: 100px;
  height: 150px;
  object-fit: cover;
  margin-left: 1rem;
}

.card__content {
  display: flex;
  align-items: center;
}

.card__content p {
  margin-left: 8px;
  font-size: 14px;
  color: #66696a;
  text-transform: capitalize;
}

.card-section {
  width: 300px;
  margin: 1rem;
  background-color: #fafafa;
}
.card-section__hr,
.card-section-hr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text__card {
  color: #66696a;
  font-weight: 400;
  margin: 0.2rem;
  font-size: 0.9rem;
}
.numbers,
.numbers-3,
.numbers-10 {
  padding: 2px 10px;
  font-weight: 300;
  border-radius: 50%;
  background-color: #8f8f8f;
  color: #fff;
  cursor: pointer;
  font-size: 0.8rem;
  margin-right: 0.8rem;
}

.numbers-3,
.numbers-10 {
  padding: 2px 15px;
}

.card-button-image {
  transform: rotate(90deg);
  filter: invert(100%);
}
.wider-card {
  max-width: 600px;
  height: 450px;
  border: 1px solid #e0d9d9;
  border-radius: 2px;
  margin-right: 10rem;
  position: relative;
}

.cart {
  margin-top: 1rem;
}
.wider__card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wider-content-p,
.wider-content-date {
  color: #8f8f8f;
}

.wider-content-date {
  margin-right: 0.8rem;
  font-size: 0.8rem;
}
.wider-card-h2 {
  margin-left: 1rem;
}
.wider-card-h2 > h2 {
  margin: 0;
}
.wider-content-block {
  display: block;
}
.wider-content-span {
  padding-left: 1rem;
}

.paraghaph-contents {
  font-size: 1rem;
  width: 400px;
}

.wider-card-link {
  color: #44a8d4;
  text-decoration: underline;
}

.wider-card-button,
.card-button,
.main-button {
  padding: 8px 15px;
  border: none;
  outline: 2px solid #bcdba5;
  background-color: #fff;
  border-radius: 50px;
  text-align: center;
  margin-top: 10px;
  position: absolute;
  left: 24%;
  color: #848b8d;
  cursor: pointer;
}

.card-content {
  margin-top: 70px;
  height: 115px;
  background-color: #f9f7f8;
}
.wider-card-form {
  display: flex;
  align-items: center;
}

.input-card {
  width: 400px;
  height: 40px;
  border: none;
  padding-left: 1.5rem;
  color: gray;
}

.wide__cards {
  margin-top: 3rem;
  height: 250px;
  position: relative;
}
.wide-background {
  position: absolute;
  top: -5%;
  left: -1%;
}

.wide-background > h4 {
  display: inline;
  color: #f8f7f7;
  background-color: #38a4d2;
  font-size: 0.6rem;
  letter-spacing: 2px;
  padding-left: 10rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-right: 1rem;
  text-align: center;
  font-weight: 300;
}

.card__image {
  top: -60%;
  left: 0;
  position: absolute;
}

.card-paragraph {
  width: 350px;
  margin-left: 25%;
  margin-top: 2rem;
}

.card-paragraph {
  font-size: 0.8rem;
  font-weight: 400;
  color: #6a7575;
}

.card-paragraph-span {
  color: #5b6467;
  font-weight: 600;
}

.card-paragraph h2 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.2;
}

.card-button {
  margin-top: 2.5rem;
  outline: 1px solid #38a4d2;
  left: 25%;
}

main {
  background: #fafafa;
  margin-top: 8%;
  margin-left: 5%;
  margin-right: 5%;
}
.main-card {
  border-top: 5px solid #ff722e;
  background: #fff;
  width: 900px;
  height: 350px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.main-content {
  width: 400px;
  margin-left: 2rem;
  color: #6a7575;
  font-weight: 400;
  line-height: 1.5;
}
.main__paragraph {
  font-size: 0.7rem;
  letter-spacing: 1px;
  margin-top: 2rem;
}

.main-content h2 {
  font-size: 2.5rem;
  color: #2e3133;
  font-weight: 700;
}

.main-button {
  outline: 1px solid #ff722d;
}
.main-image {
  width: 400px;
  object-fit: cover;
}
.main-text {
  max-width: 400px;
  line-height: 1.3;
  text-transform: capitalize;
  padding: 1rem;
}

.main-header {
  margin-top: 5%;
  color: #66696a;
  margin-left: 12%;
  margin-right: 12%;
  display: flex;
  justify-content: space-between;
}

.main-new-release {
  font-size: 0.8rem;
  font-weight: 300;
  color: #ff722d;
  letter-spacing: 1;
}

.main__content-text {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 1rem;
}

small {
  font-size: 0.6rem;
}

.main__text {
  margin-top: 1.5rem;
  font-size: 0.8rem;
}

.explore {
  display: flex;
  justify-content: space-between;
  margin-left: 1rem;
  font-weight: 500;
  color: #66696a;
  margin-top: 8%;
  cursor: pointer;
}

.explore-contents {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  line-height: 1.5;
}

.explore-contents,
.explore__content {
  padding: 5px;
  color: #66696a;
  font-size: 0.8rem;
}

@media (max-width: 900px) {
  .hero {
    height: 50vh;
  }
  h1 {
    font-size: 2.5rem;
  }
  form {
    padding-left: 10%;
  }

  input {
    width: 350px;
  }

  svg {
    position: absolute;
    right: 15%;
  }

  .section .icon-left {
    display: none;
  }

  .section .icon-right {
    display: none;
  }

  .image-text {
    padding: 3px;
  }

  .image-fluid {
    width: 150px;
    height: 200px;
  }

  .image2 {
    display: none;
  }

  .fa-solid {
    font-size: 8px;
  }

  .image-span {
    font-size: 10px;
  }

  .image-content {
    font-size: 13px;
  }

  section {
    margin-top: 60%;
    margin-left: 5rem;
  }

  .h3 {
    font-size: 1rem;
  }
}
