:root {
  --branding-color: #745e96;
  --arrow-color: #ff722d;
  --icon-color: #e87769;
  --text-color: #66696a;
  --primary-color: #fafafa;
  --link-color: #44a8d4;
  --secondary-color: #8f8f8f;
  --h2-color: #2e3133;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  height: 200vh;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
  padding-top: 0.8rem;
  cursor: pointer;
}
.navigation {
  display: flex;
  justify-content: center;
}

.nav-contents {
  padding-left: 2rem;
  font-size: 0.8rem;
  color: var(--text-color);
  text-decoration: none;
}

.nav-contents:hover,
.nav-text:hover,
.nav-text-span:hover {
  color: var(--arrow-color);
}
.nav-text {
  font-size: 2rem;
  font-weight: 200;
  color: var(--branding-color);
}

.nav-text-span {
  font-weight: 400;
}

.nav-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
.nav-image-display {
  display: flex;
  align-items: center;
  position: relative;
}

.nav-number {
  font-weight: 400;
  border-radius: 50px;
  padding: 4px 8px;
  background-color: var(--arrow-color);
  color: #f9f7f8;
  font-size: 0.5rem;
  position: absolute;
  right: -10px;
  top: -8px;
}

.hero {
  height: 60vh;
  border: none;
  background-color: var(--branding-color);
  margin: auto;
}
h1 {
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  font-size: 3rem;
  margin: 0;
  padding-top: 10px;
}
.hero-form {
  padding-left: 30%;
  padding-top: 20px;
}

.hero-input {
  border-radius: 50px;
  width: 500px;
  height: 40px;
  border: none;
  position: relative;
  padding-left: 1.5rem;
  color: gray;
}

svg {
  position: absolute;
  right: 33%;
  margin-top: 10px;
  cursor: pointer;
}

.section {
  position: relative;
  margin-top: 50px;
}

.section .icon-left,
.section .icon-right {
  position: absolute;
  border: none;
  border-radius: 50%;
  background-color: var(--arrow-color);
}

.section .icon-left {
  left: 20px;
  top: 80px;
  transform: rotate(-90deg);
}

.section .icon-right {
  right: 20px;
  transform: rotate(90deg);
  top: 80px;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-text {
  text-align: center;
  padding: 10px;
}

.image-fluid {
  cursor: pointer;
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.icons {
  line-height: 1;
}

.fa-solid {
  font-size: 10px;
  color: var(--icon-color);
}

.image-span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  line-height: 2;
}

.image-content {
  font-size: 15px;
  font-weight: 600;
  color: var(--text-color);
}

section {
  margin-top: 22%;
  margin-left: 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card {
  width: 350px;
  height: 740px;
  border: 1px solid #f8f7f7;
  border-radius: 5px;
  position: relative;
}
.card-header {
  padding-left: 10px;
}
.svg {
  position: absolute;
  top: 21%;
  right: 50px;
}

.card-contents {
  display: flex;
  align-items: center;
}

.card-contents p,
.wider-content-p {
  font-size: 0.8rem;
}

.card-contents h2,
.wider-content {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color);
}
.content-text {
  line-height: 0.5;
}
.card-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0.8rem;
}

.card__content-boder {
  width: 350px;
  background-color: var(--branding-color);
  color: #fff;
  padding-top: 2px;
  padding-bottom: 1rem;
}

.card__content-boder > h3 {
  font-size: 1rem;
}
.card__content-boder > h3,
.card__content-boder p,
.h3 {
  margin-left: 1rem;
}
.h3 {
  margin-top: 30px;
  color: var(--text-color);
}

.card__content-boder p {
  font-size: 10px;
  font-weight: 300;
}
.cards__ {
  width: 100px;
  height: 150px;
  object-fit: cover;
  margin-left: 1rem;
}

.card__content {
  display: flex;
  align-items: center;
}

.card__content p {
  margin-left: 8px;
  font-size: 14px;
  color: var(--text-color);
  text-transform: capitalize;
}

.card-section {
  width: 300px;
  margin: 1rem;
  background-color: var(--primary-color);
}
.card-section__hr,
.card-section-hr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text__card {
  color: var(--text-color);
  font-weight: 400;
  margin: 0.2rem;
  font-size: 0.9rem;
}
.numbers,
.numbers-3,
.numbers-10 {
  padding: 2px 10px;
  font-weight: 300;
  border-radius: 50%;
  background-color: var(--secondary-color);
  color: #fff;
  cursor: pointer;
  font-size: 0.8rem;
  margin-right: 0.8rem;
}

.numbers-3,
.numbers-10 {
  padding: 2px 15px;
}

.card-button-image {
  transform: rotate(90deg);
  filter: invert(100%);
}
.wider-card {
  max-width: 600px;
  height: 450px;
  border: 1px solid #e0d9d9;
  border-radius: 2px;
  margin-right: 10rem;
  position: relative;
}

.cart {
  margin-top: 1rem;
}
.wider__card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wider-content-p,
.wider-content-date {
  color: var(--text-color);
}

.wider-content-date {
  margin-right: 0.8rem;
  font-size: 0.8rem;
}
.wider-card-h2 {
  margin-left: 1rem;
}
.wider-card-h2 > h2 {
  margin: 0;
}
.wider-content-block {
  display: block;
}
.wider-content-span {
  padding-left: 1rem;
}

.paraghaph-contents {
  font-size: 1rem;
  width: 400px;
}

.wider-card-link {
  color: var(--link-color);
  text-decoration: underline;
}

.wider-card-button,
.card-button,
.main-button {
  padding: 8px 15px;
  border: none;
  outline: 2px solid #bcdba5;
  background-color: #fff;
  border-radius: 50px;
  text-align: center;
  margin-top: 10px;
  position: absolute;
  left: 24%;
  color: #848b8d;
  cursor: pointer;
}

.card-content {
  margin-top: 70px;
  height: 115px;
  background-color: var(--primary-color);
}
.wider-card-form {
  display: flex;
  align-items: center;
}

.input-card {
  width: 400px;
  height: 40px;
  border: none;
  padding-left: 1.5rem;
  color: gray;
}

.wide__cards {
  margin-top: 3rem;
  height: 250px;
  position: relative;
}
.wide-background {
  position: absolute;
  top: -5%;
  left: -1%;
}

.wide-background > h4 {
  display: inline;
  color: #f8f7f7;
  background-color: var(--link-color);
  font-size: 0.6rem;
  letter-spacing: 2px;
  padding-left: 10rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-right: 1rem;
  text-align: center;
  font-weight: 300;
}

.card__image {
  top: -60%;
  left: 0;
  position: absolute;
}

.card-paragraph {
  width: 350px;
  margin-left: 25%;
  margin-top: 2rem;
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--text-color);
}

.card-paragraph-span {
  color: #5b6467;
  font-weight: 600;
}

.card-paragraph h2 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.2;
}

.card-button {
  margin-top: 2.5rem;
  outline: 1px solid var(--link-color);
  left: 25%;
}

main {
  background: var(--primary-color);
  margin-top: 8%;
  margin-left: 5%;
  margin-right: 5%;
}
.main-card {
  border-top: 5px solid var(--arrow-color);
  background: #fff;
  width: 900px;
  height: 350px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.main-content {
  width: 400px;
  margin-left: 2rem;
  color: var(--text-color);
  font-weight: 400;
  line-height: 1.5;
}
.main__paragraph {
  font-size: 0.7rem;
  letter-spacing: 1px;
  margin-top: 2rem;
}

.main-content h2 {
  font-size: 2.5rem;
  color: var(--h2-color);
  font-weight: 700;
}

.main-button {
  outline: 1px solid var(--arrow-color);
}
.main-image {
  width: 400px;
  object-fit: cover;
}
.main-text {
  max-width: 400px;
  line-height: 1.3;
  text-transform: capitalize;
  padding: 1rem;
}

.main-header {
  margin-top: 8%;
  color: var(--text-color);
  margin-left: 12%;
  margin-right: 12%;
  display: flex;
  justify-content: space-between;
}

.main-new-release {
  font-size: 0.8rem;
  font-weight: 300;
  color: var(--arrow-color);
  letter-spacing: 1;
}

.main__content-text {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 1rem;
}

small {
  font-size: 0.6rem;
}

.main__text {
  margin-top: 1.5rem;
  font-size: 0.8rem;
}

.explore {
  display: flex;
  justify-content: space-between;
  margin-left: 10rem;
  margin-right: 10rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 8%;
  cursor: pointer;
  font-size: 0.8rem;
  color: var(--link-color);
}

.explore-contents {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  line-height: 1.5;
}

.explore-contents,
.explore__content {
  padding: 5px;
  color: var(--text-color);
  font-size: 0.5rem;
  text-transform: capitalize;
}

footer {
  background: var(--branding-color);
  height: 25vh;
  margin-top: 1rem;
}
.footer-icons {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.fa-brands {
  margin-right: 1.5rem;
  padding: 0.8rem;
  font-size: 0.8rem;
  border: 2px solid #fff;
  border-radius: 50%;
  color: #f9f7f8;
  cursor: pointer;
}
.fa-brands:hover {
  border-color: var(--arrow-color);
}

@media (max-width: 900px) {
  .hero {
    height: 50vh;
  }
  h1 {
    font-size: 2.5rem;
  }

  .hero-form {
    padding-left: 13%;
    padding-top: 2rem;
  }

  svg {
    position: absolute;
    right: 15%;
  }

  .section .icon-left {
    display: none;
  }

  .section .icon-right {
    display: none;
  }

  .image-text {
    padding: 5px;
  }

  .image-fluid {
    width: 200px;
    height: 250px;
  }

  .image2 {
    display: none;
  }

  .fa-solid {
    font-size: 8px;
  }

  .image-span {
    font-size: 10px;
  }

  .image-content {
    font-size: 13px;
  }

  section {
    margin-top: 40%;
    margin-left: 8rem;
    margin-right: 8rem;
    grid-template-columns: 1fr;
  }

  .h3 {
    font-size: 1rem;
  }

  .wider-card {
    max-width: 500px;
    height: 460px;
    margin-right: 0;
  }

  .paraghaph-contents {
    width: 300px;
    line-height: 1.5;
  }

  .wider-card-button {
    padding: 8px 15px;
    left: 32%;
    font-size: 0.8rem;
  }

  .input-card {
    width: 300px;
    height: 40px;
  }

  .wide__cards {
    margin-top: 3.5rem;
    height: 240px;
  }

  .card-paragraph {
    width: 300px;
    margin-left: 30%;
    margin-top: 1.5rem;
  }

  .card-paragraph h2 {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.2;
  }
  .card-button {
    margin-left: 5%;
  }

  .main-card {
    width: 500px;
    height: 650px;
    display: grid;
    grid-template-columns: 1fr;
  }
  .main-content {
    width: 400px;
  }
  .main__paragraph {
    font-size: 0.6rem;
  }

  .main-content h2 {
    font-size: 1.5rem;
  }
  .main-button {
    margin-left: 5rem;
    font-size: 0.8rem;
    margin-top: 1rem;
  }
  .main-image {
    width: 300px;
    height: 300px;
    margin: auto;
  }
  .main-header {
    margin-left: 10%;
    margin-right: 10%;
  }

  .main__content-text {
    font-size: 0.8rem;
  }

  .main__text {
    margin-top: 1rem;

    line-height: 1.5;
  }
  .explore {
    margin-left: 5rem;
    margin-right: 5rem;
  }

  .explore-contents {
    grid-template-columns: 1fr;
  }

  footer {
    height: 20vh;
  }

  .fa-brands {
    padding: 0.5rem;
  }
}
