body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  height: 800vh;
}

.hero {
  height: 60vh;
  border: none;
  background-color: #745e96;
  margin: auto;
}
h1 {
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  font-size: 3rem;
  margin: 0;
  padding-top: 10px;
}
form {
  padding-left: 30%;
  padding-top: 20px;
}

input {
  border-radius: 50px;
  width: 500px;
  height: 40px;
  border: none;
  position: relative;
  padding-left: 1.5rem;

  color: gray;
}

svg {
  position: absolute;
  right: 33%;
  margin-top: 10px;
  cursor: pointer;
}

.section {
  position: relative;
  margin-top: 50px;
}

.section .icon-left,
.section .icon-right {
  position: absolute;
  border: none;
  border-radius: 50%;
  background-color: #ff722d;
}

.section .icon-left {
  left: 20px;
  top: 80px;
  transform: rotate(-90deg);
}

.section .icon-right {
  right: 20px;
  transform: rotate(90deg);
  top: 80px;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-text {
  text-align: center;
  padding: 10px;
}

.image-fluid {
  cursor: pointer;
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.icons {
  line-height: 1;
}

.fa-solid {
  font-size: 12px;
  color: goldenrod;
}

.image-span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  line-height: 2;
}

.image-content {
  font-size: 15px;
  font-weight: 600;
}

section {
  margin-top: 22%;
  margin-left: 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card {
  width: 350px;
  height: 670px;
  border: 1px solid #f8f7f7;
  border-radius: 8px;
  position: relative;
}
.svg {
  position: absolute;
  top: 23%;
  right: 50px;
}

.card-contents {
  display: flex;
  align-items: center;
}

.card-contents p,
.wider-content-p {
  font-size: 0.8rem;
}

.card-contents h2,
.wider-content {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
  color: #8f8f8f;
}
.content-text {
  line-height: 0.5;
}
.card-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0.8rem;
}

.card__content-boder {
  width: 350px;
  background-color: #745e96;
  color: #fff;
  padding-top: 2px;
  padding-bottom: 1rem;
}

.card__content-boder > h3 {
  font-size: 1rem;
}
.card__content-boder > h3,
.card__content-boder p,
.h3 {
  margin-left: 1rem;
}
.h3 {
  margin-top: 30px;
  color: #66696a;
}

.card__content-boder p {
  font-size: 10px;
  font-weight: 300;
}
.cards__ {
  width: 100px;
  height: 150px;
  object-fit: cover;
  margin-left: 1rem;
}

.card__content {
  display: flex;
  align-items: center;
}

.card__content p {
  margin-left: 8px;
  font-size: 14px;
  color: #66696a;
  text-transform: capitalize;
}

.card-section {
  width: 300px;
  margin: 1rem;
  background-color: #fafafa;
}
.card-section__hr,
.card-section-hr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text__card {
  color: #66696a;
  font-weight: 400;
  margin: 0.2rem;
  font-size: 0.9rem;
}
.numbers,
.numbers-3,
.numbers-10 {
  padding: 2px 10px;
  font-weight: 300;
  border-radius: 50%;
  background-color: #8f8f8f;
  color: #fff;
  cursor: pointer;
  font-size: 0.8rem;
  margin-right: 0.8rem;
}

.numbers-3,
.numbers-10 {
  padding: 2px 15px;
}

.card-button-image {
  transform: rotate(90deg);
  filter: invert(100%);
}
.wider-card {
  width: 600px;
  height: 300px;
  border: 1px solid #e0d9d9;
  border-radius: 2px;
  margin-right: 10rem;
}

.cart {
  margin-top: 1rem;
}
.wider__card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wider-content-p,
.wider-content-date {
  color: #8f8f8f;
}

.wider-content-date {
  margin-right: 0.8rem;
  font-size: 0.8rem;
}
.wider-card-h2 {
  margin-left: 1rem;
}
.wider-card-h2 > h2 {
  margin: 0;
}
.wider-content-block {
  display: block;
}
.wider-content-span {
  padding-left: 1rem;
}

.paraghaph-contents {
  font-size: 1rem;
  width: 400px;
}

@media (max-width: 900px) {
  .hero {
    height: 50vh;
  }
  h1 {
    font-size: 2.5rem;
  }
  form {
    padding-left: 10%;
  }

  input {
    width: 350px;
  }

  svg {
    position: absolute;
    right: 15%;
  }

  .section .icon-left {
    display: none;
  }

  .section .icon-right {
    display: none;
  }

  .image-text {
    padding: 3px;
  }

  .image-fluid {
    width: 150px;
    height: 200px;
  }

  .image2 {
    display: none;
  }

  .fa-solid {
    font-size: 8px;
  }

  .image-span {
    font-size: 10px;
  }

  .image-content {
    font-size: 13px;
  }

  section {
    margin-top: 60%;
    margin-left: 5rem;
  }

  .h3 {
    font-size: 1rem;
  }
}
